# Erkennen der Bedeutung der Siegergalerie

-   kein Problem

# Erkennen der Möglichkeiten (Button)

## Beobachtung

-   Benutzer steigt ein, sieht Siegergalerie. Und wie kann ich jetzt
    spielen?

## Probleme

-   Link zum Spiel wäre zwar in Top-Navigation verfügbar, dieser wird
    aber nicht automatisch/sofort wahrgenommen (Orientierung des Users,
    intuitive Bedienung, Status)

## Massnahmen

-   Welcome-Meldung und Button «Go to battle» im Hauptbereich.

# Erkennen, dass ein neuer Benutzer angelegt werden muss, um Spielen zu können

-   kein Problem
