# Neuen User anlegen

## Beobachtung

-   Benutzer geht zur Registration, Feld «Username (Email address)».
    Frage: «Also muss ich jetzt die E-Mail-Adresse eingeben oder einen
    Benutzernamen?»

## Problem

-   Verwirrung durch Redundanz: «Wähle einen Benutzernamen, und zwar
    muss dies deine E-Mail-Adresse sein» (intuitive Bedienung).

## Massnahmen

-   Umbenennen in «Email address».

# Passwort eines bestehenden Users ändern

-   Nicht durchgeführt

# Name eines bestehenden Users ändern

-   Nicht durchgeführt

# Passort eines bestehenden Users zurücksetzen

-   Nicht durchgeführt
