<div class="page mat-typography">
    <div class="inset-1">
        <h2 translate>match.title</h2>
        <p translate>match.body</p>
        <button mat-raised-button (click)="onCancelClicked()" color="basic">
            <span translate>match.cancelButton</span>
        </button>
    </div>

    <div *ngIf="!matchService.items || matchService.items.length === 0" class="message-nobody-here">
        <span translate>match.messageNobodyHere</span>
    </div>

    <app-match-items></app-match-items>



</div>