rules_version = '2';

service cloud.firestore {

    function belongsTo(userId) {
        return request.auth.uid == userId
    }

    match /databases/{database}/documents {

        match /users/{userId} {
            allow read: if belongsTo(userId);
            allow write: if false;
        }

        match /waitingPlayers/{document} {
            allow read: if true;
            allow write: if false;
        }

        match /players/{userId} {
            allow read: if belongsTo(userId);
            allow write: if false;
        }

        match /hallEntries/{userId} {
            allow read: if true;
            allow write: if false;
        }

        match /historicBattles/{document} {
            allow read: if true;
            allow write: if false;
        }

        // (alle nicht erwähnten Collections sind deny all)
    }
}