rules_version = '2';

service cloud.firestore {

    function belongsTo(userId) {
        return request.auth.uid == userId
    }

    match /databases/{database}/documents {
        // Regel für die Collection "items"
        match /waitingPlayers/{document} {
            allow read: if true;
            allow write: if false;
        }

        match /preparations/{userId} {
            allow read: if belongsTo(userId);
            allow write: if false;
        }

        match /users/{userId} {
            allow read: if belongsTo(userId);
            allow write: if false;
        }
    
        // (alle nicht erwähnten Collections sind deny all)
    }
}