<div class="page-inset mat-typography">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-card class="small-form">
            <h2 translate>auth.register.title</h2>

            <mat-card-content fxLayout="column" fxLayoutGap="0.5rem">
                <div>
                    <mat-form-field>
                        <input matInput type="text" formControlName="displayName"
                            placeholder="{{'auth.register.displayName' | translate}}" />
                        <mat-error *ngIf="displayName.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="displayName.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="email" formControlName="username" required autocomplete="username"
                            placeholder="{{'auth.register.username' | translate}}" />
                        <mat-error *ngIf="username.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="username.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchCase="username.errors.email" translate>auth.register.usernameMustBeEmail</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" required minlength="6"
                            placeholder="{{'auth.register.password' | translate}}" autocomplete="new-password" />
                        <mat-error *ngIf="password.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="password.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchCase="!!password.errors.minlength" translate>auth.register.passwordTooShort</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" formControlName="passwordRepeat" required autocomplete="new-password"
                            placeholder="{{'auth.register.passwordRepeat' | translate}}" />
                        <mat-error *ngIf="passwordRepeat.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="passwordRepeat.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchCase="passwordRepeat.errors.mismatch" translate>auth.register.passwordMismatch</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="0.5rem grid" fxLayoutAlign="start center">
                    <div>
                        <button type="submit" [disabled]="waiting" mat-raised-button color="primary" class="standard-button-width">
                            {{'auth.register.submitButton' | translate}}
                        </button>
                    </div>
                    <div>
                        <button type="button" [disabled]="waiting" mat-raised-button (click)="onCancel()" class="standard-button-width">
                            {{'button.cancel' | translate}}
                        </button>
                    </div>
                    <div>
                        <mat-spinner *ngIf="waiting" diameter="22"></mat-spinner>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>

</div>