<mat-list-item>
    <div class="item">
        <div class="statistic">{{item.victories}}:{{item.defeats}}</div>
        <div class="name">{{item.opponentName}}</div>
        <div class="avatar">Avatar</div>
        <mat-checkbox [ngModel]="item.isChallenged" (ngModelChange)="onChallengeChange($event)" class="challenged">
            Challenged
        </mat-checkbox>
        <div *ngIf="isOpponentChallenging" class="challenging">
            Challenging you
        </div>
    </div>
</mat-list-item>
