.item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 4px;
}

.avatar {
    width: 48px;
    height: 64px;
    font-size: 60%;
    color: white;
    background-color: black;
    margin-top: 2px;
    margin-left: 2px;
}

.name,
.statistic,
.opponent-is-challenging {
    width: calc(100% - 4px);
    margin-left: 2px;
    margin-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.opponent-is-challenging {
    font-size: 60%;
}

.opponent-is-challenged {
    font-size: 60%;
    margin-left: 2px;
}

@keyframes color {
    0% {
        background-color: white;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: white;
    }
}

.challenging {
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
