<div class="page mat-typography">
    <div class="inset-1">
        <h2 translate>match.title</h2>
        <p *ngIf="hasItems" translate>match.body</p>
        <p *ngIf="!hasItems" translate>match.messageNobodyHere</p>
        <app-match-items *ngIf="hasItems" class="match-items" [items]="items" (addChallenge)="onAddChallenge($event)"
            (removeChallenge)="onRemoveChallenge($event)">
        </app-match-items>
        <button mat-raised-button (click)="onCancelClicked()" color="basic">
            <span translate>match.cancelButton</span>
        </button>
    </div>
</div>
