<div class="page-inset mat-typography">
    <h2 translate>match.title</h2>
    <p *ngIf="loading">
        <mat-spinner diameter="22" style="display: inline-block"></mat-spinner>
    </p>
    <div *ngIf="!loading" fxLayout="column" fxLayoutGap="1.5rem">
        <div *ngIf="!hasItems" translate>match.message.noWaitingPlayers</div>
        <div *ngIf="hasItems">
            <app-match-items class="match-items" [items]="items"
                (addChallenge)="onAddChallenge($event)" (removeChallenge)="onRemoveChallenge($event)">
            </app-match-items>
        </div>
        <div class="buttons" fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start center">
            <button mat-raised-button color="basic" (click)="onCancelClicked()" [disabled]="isCancelling"
                matTooltip="{{ 'match.button.cancelTooltip' | translate }}">
                <span translate>match.button.cancel</span>
            </button>
            <div class="spinner-cell" *ngIf="isCancelling">
                <mat-spinner diameter="22" style="display: inline-block"></mat-spinner>
            </div>
        </div>
    </div>
</div>