<div class="page-inset mat-typography">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-card class="small-form">
            <h2 translate>user.updateProfile.title</h2>

            <mat-card-content fxLayout="column" fxLayoutGap="0.5rem">
                <div>
                    <mat-form-field>
                        <input matInput type="text" formControlName="displayName" required
                            placeholder="{{'user.updateProfile.displayName' | translate}}" />
                        <mat-error *ngIf="displayName.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="displayName.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="0.5rem grid" fxLayoutAlign="start center">
                    <div>
                        <button type="submit" [disabled]="waiting" mat-raised-button color="primary" class="standard-button-width">
                            {{'user.updateProfile.submitButton' | translate}}
                        </button>
                    </div>
                    <div>
                        <button type="button" [disabled]="waiting" mat-raised-button (click)="onCancel()" class="standard-button-width">
                            {{'button.cancel' | translate}}
                        </button>
                    </div>
                    <div>
                        <mat-spinner *ngIf="waiting" diameter="22"></mat-spinner>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>

</div>