<div class="page-inset mat-typography">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-card class="small-form">
            <h2 translate>user.updatePassword.title</h2>

            <mat-card-content>
                <p>
                    <mat-form-field>
                        <input matInput formControlName="oldPassword" required type="password" autocomplete="current-password"
                            placeholder="{{'user.updatePassword.oldPassword' | translate}}" />
                        <mat-error *ngIf="oldPassword.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="oldPassword.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" required minlength="6"
                            placeholder="{{'user.updatePassword.password' | translate}}" autocomplete="new-password" />
                        <mat-error *ngIf="password.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="password.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchCase="!!password.errors.minlength" translate>user.updatePassword.passwordTooShort</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="password" formControlName="passwordRepeat" required autocomplete="new-password"
                            placeholder="{{'user.updatePassword.passwordRepeat' | translate}}" />
                        <mat-error *ngIf="passwordRepeat.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="passwordRepeat.errors.required" translate>common.message.fieldRequired</div>
                            <div *ngSwitchCase="passwordRepeat.errors.mismatch" translate>user.updatePassword.passwordMismatch</div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </p>
                <div class="button-row">
                    <div>
                        <button type="submit" mat-raised-button color="primary" class="standard-button-width">
                            {{'user.updatePassword.submitButton' | translate}}
                        </button>
                    </div>
                    <div>
                        <button type="button" mat-raised-button (click)="onCancel()" class="standard-button-width">
                            {{'button.cancel' | translate}}
                        </button>
                    </div>
                    <div class="spinner-cell">
                        <mat-spinner *ngIf="waiting" diameter="22" style="display: inline-block"></mat-spinner>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>

</div>