<div class="reset-password-content">
    <mat-card>
        <mat-card-title>
            <h2 translate>auth.resetPassword.title</h2>
        </mat-card-title>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary">
                {{'auth.resetPassword.buttonLabel' | translate}}
            </button>
        </mat-card-actions>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>

</div>