.segmented-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.segmented-control-item {
    overflow: hidden;
    list-style-type: none;
    padding-top: 2px;
}


.segmented-control-input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.segmented-control-label {
    display: block;
    padding: 0.1em;
    font-size: 70%;
    text-align: center;
    color: rgb(0, 0, 0, 0.4);
    cursor: pointer;
}

.segmented-control-label:hover {
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(0, 0, 0, 0.05);
}
.segmented-control-input:checked+.segmented-control-label {
    color: white;
}