@import '../../../shared/colors.scss';

div {
    -webkit-tap-highlight-color: transparent;
    /* 
        https://stackoverflow.com/questions/3516173/ipad-safari-how-to-disable-the-quick-blinking-effect-when-a-link-has-been-hit 
        Otherwise IOS Safari lets the field blink when tapping, because a click handler exists.
        Even if the handler does not do anything (returning false, void or whatever does not
        help, and ng does not seem to offer a straightforward way to add the click handler 
        conditionally). 
    */
}

.is-covered, .is-shooting, .is-uncovering-hit, .is-uncovering-miss {
    width: 100%;
    height: 100%;
    background-color: $color-field-cover;
}

.can-shoot {
    cursor: pointer;
}

.can-shoot:hover {
    background-color: $color-field-hover;
}


@keyframes shake {
    10%, 90% {transform: translate3d(-1px, 0, 0);}
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
}

@keyframes fly {
    0% {top: 0px; left: 0px; z-index: 1000;}
    100% {top: -200px; left: 400px; width: 300%; height: 300%; opacity: 0;}
}

@keyframes explode {
    100% { opacity: 0; color: $color-field-hit; transform: scale(5) rotate(30deg)};
}

.is-shooting {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.is-uncovering-hit {
    background-color: $color-field-explode;
    animation-name: explode;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.is-uncovering-miss {
    background-color: $color-field-miss;
    animation-name: fly;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.is-uncovered {
    width: 0;
    height: 0;
}
