$color-ship-20: red;
$color-ship-30: green;
$color-ship-31: blue;
$color-ship-40: turquoise;
$color-ship-41: purple;

$color-background: rgb(227, 242, 253); // mat blue 50
$color-field-cover: rgb(33, 150, 243); // mat blue 500;
$color-field-unknown: $color-field-cover;
$color-field-miss: black;
$color-field-hit: white;
