<div class="register-content mat-typography">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-card class="small-form">
            <h2 translate>auth.register.title</h2>

            <mat-card-content>
                <p>
                    <mat-form-field>
                        <input matInput type="text" formControlName="displayName" required
                            placeholder="{{'auth.register.displayName' | translate}}" />
                        <mat-error *ngIf="displayName.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="displayName.errors.required" translate>
                                common.message.fieldRequired
                            </div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="email" formControlName="username" required
                            placeholder="{{'auth.register.username' | translate}}" />
                        <mat-error *ngIf="username.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="username.errors.required" translate>
                                common.message.fieldRequired
                            </div>
                            <div *ngSwitchCase="username.errors.email" translate>
                                auth.register.usernameMustBeEmail
                            </div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" required minlength="6"
                            placeholder="{{'auth.register.password' | translate}}" autocomplete="new-password" />
                        <mat-error *ngIf="password.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="password.errors.required" translate>
                                common.message.fieldRequired
                            </div>
                            <div *ngSwitchCase="!!password.errors.minlength" translate>
                                auth.register.passwordTooShort
                            </div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="password" formControlName="passwordRepeat" required
                            placeholder="{{'auth.register.passwordRepeat' | translate}}" />
                        <mat-error *ngIf="passwordRepeat.invalid" [ngSwitch]="true">
                            <div *ngSwitchCase="passwordRepeat.errors.required" translate>
                                common.message.fieldRequired
                            </div>
                            <div *ngSwitchCase="passwordRepeat.errors.mismatch" translate>
                                auth.register.passwordMismatch
                            </div>
                            <div *ngSwitchDefault translate>common.message.fieldValueInvalid</div>
                        </mat-error>
                    </mat-form-field>
                </p>
                <div class="button-row">
                    <div>
                        <button type="submit" mat-raised-button color="primary">
                            {{'auth.register.submitButton' | translate}}
                        </button>
                    </div>
                    <div>
                        <button type="button" mat-raised-button (click)="onCancel()">
                            {{'button.cancel' | translate}}
                        </button>
                    </div>
                    <div class="spinner-cell">
                        <mat-spinner *ngIf="waiting" diameter="22" style="display: inline-block"></mat-spinner>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>

</div>