.entry {
    padding: 0.5rem 0.25rem;
}

.avatar {
    text-align: center;
}

.avatar-img {
    width: 75%;
}

.name,
.statistic {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
