<div *ngIf="!state.isAuthenticated" class="page mat-typography">
    <div class="inset-1">
        <a routerLink="/auth/login">Login</a>
    </div>
</div>
<div *ngIf="state.isAuthenticated" class="page mat-typography">
    <div class="inset-1">
        <h2 translate>user.profile.title</h2>

        <p *ngIf="state.isMissingData && !state.delayHandle">
            <!-- (no translate because this is an anomaly) -->
            <mat-icon>warning</mat-icon>
            User document not found. You won't be able to play
            before you create it (use the '{{ 'user.profile.updateProfileButton' | translate }}' button).
        </p>
    </div>


    <div class="button-row">
        <button mat-button routerLink="update-profile" color="primary">
            {{ 'user.profile.updateProfileButton' | translate }}</button>
        <button mat-button routerLink="update-password" color="primary">
            {{ 'user.profile.updatePasswordButton' | translate }}</button>
        <button mat-button (click)="logout()" mat-stroked-button color="primary">
            {{ 'user.profile.logoutButton' | translate }}</button>
    </div>

    <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div>
                <div class="mat-caption">{{ 'user.profile.displayName' | translate }}</div>
                <div>{{ state.displayName }}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <ng-container
            *ngIf="state.isDataLoaded && state.dataDisplayName && state.dataDisplayName !== state.displayName && !state.delayHandle">
            <mat-list-item>
                <div>
                    <!-- (no translate because this is an anomaly) -->
                    <div class="mat-caption">Different display name in database</div>
                    <div>
                        {{ state.dataDisplayName }}
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>

        <mat-list-item>
            <div>
                <div class="mat-caption">{{ 'user.profile.username' | translate }}</div>
                <div>
                    {{ state.email }}
                    {{ state.emailVerified ? '(verified)' : '' }}
                </div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <ng-container
            *ngIf="state.isDataLoaded && state.dataEmail && state.dataEmail !== state.email && !state.delayHandle">
            <mat-list-item>
                <div>
                    <!-- (no translate because this is an anomaly) -->
                    <div class="mat-caption">Different Email in database</div>
                    <div>
                        {{ state.dataEmail }}
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>

        <mat-list-item>
            <div>
                <div class="mat-caption">{{ 'user.profile.level' | translate }}</div>
                <div>{{ state.level }}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>

<app-my-battle-list *ngIf="state.myBattleList" [state]="state.myBattleList"></app-my-battle-list>