<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
        <button mat-menu-item routerLink="">
            <mat-icon>forward</mat-icon>
            <span>Start = Hall</span>
        </button>
        <button mat-menu-item routerLink="hall">
            <mat-icon>forward</mat-icon>
            <span>Hall</span>
        </button>
        <button mat-menu-item routerLink="index">
            <mat-icon>forward</mat-icon>
            <span>Index</span>
        </button>
        <button mat-menu-item routerLink="preparation">
            <mat-icon>forward</mat-icon>
            <span>Preparation</span>
        </button>
        <button mat-menu-item routerLink="admin">
            <mat-icon>forward</mat-icon>
            <span>Admin</span>
        </button>
        <button mat-menu-item routerLink="user">
            <mat-icon>forward</mat-icon>
            <span>User</span>
        </button>
        <button mat-menu-item routerLink="mini-game">
            <mat-icon>videogame_asset</mat-icon>
            <span>Mini Game</span>
        </button>

        <button *ngIf="!authService.isLoggedIn" mat-menu-item routerLink="login">
            <mat-icon>forward</mat-icon>
            <span>Login</span>
        </button>
        <button *ngIf="authService.isLoggedIn" mat-menu-item (click)="onLogoutClicked()">
            <mat-icon>forward</mat-icon>
            <span>Logout {{authService.userDisplayName}}</span>
        </button>
    </mat-menu>
    <h3>{{title}}</h3>
</mat-toolbar>

<router-outlet></router-outlet>
