<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="title" translate routerLink="./">application.title</a>
        <div class="fill-remaining-space"></div>
        <div class="nav-row1-buttons">
            <button mat-button routerLink="hall">
                <mat-icon>account_balance</mat-icon>
                <span translate>application.nav.hall</span>
            </button>
            <button mat-button routerLink="game">
                <mat-icon>waves</mat-icon>
                <span translate>application.nav.battle</span>
            </button>
            <button mat-button routerLink="user">
                <mat-icon>perm_identity</mat-icon>
                <span translate>application.nav.user</span>
            </button>
            <!-- <button mat-button routerLink="admin" title="{{ 'application.nav.admin' | translate }}">
                <mat-icon>build</mat-icon>
            </button> -->
        </div>
        <app-language></app-language>
    </mat-toolbar-row>
    <mat-toolbar-row class="nav-row2">
        <div>
            <button mat-button routerLink="hall">
                <mat-icon>account_balance</mat-icon>
                <span translate>application.nav.hall</span>
            </button>
            <button mat-button routerLink="game">
                <mat-icon>waves</mat-icon>
                <span translate>application.nav.battle</span>
            </button>
            <button mat-button routerLink="user">
                <mat-icon>perm_identity</mat-icon>
                <span translate>application.nav.user</span>
            </button>
            <!-- <button mat-button routerLink="admin" title="{{ 'application.nav.admin' | translate }}">
                <mat-icon>build</mat-icon>
            </button> -->
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>