.fill-remaining-space {
    flex: 1 1 auto;
}

.title {
    font-size: 60%;
}

@media screen and (min-width: 370px) {
    .title {
        font-size: 80%;
    }
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 100%;
    }
}
