@import './../preparation-common.scss';

.board {
    position: relative;
    max-width: 360px;
    max-height: 360px;
    width: 90vmin;
    height: 90vmin;
    box-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
