<div class="page mat-typography">
    <h3 translate>admin.title</h3>
    <p translate>admin.body</p>

    <mat-card class="small-form">
        <h2>Debugging</h2>
        <p>
            When clicking the button, your current preparation, matching and battle data is deleted.
            <br>
            If the button is disabled you currently don't have game data.
        </p>
        <mat-card-content>
            <div class="button-row">
                <div>
                    <button mat-raised-button (click)="purge()" color="primary" [disabled]="!hasPlayerData">
                        Delete Game Data
                    </button>
                </div>
                <div class="spinner-cell">
                    <mat-spinner *ngIf="waiting" diameter="22" style="display: inline-block"></mat-spinner>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>