@import './../preparation-common.scss';

.yard {
    position: relative;
    width: 56.25vmin;
    height: 45vmin;
    max-width: 225px;
    max-height: 180px;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px dotted rgb(0, 0, 0, 0.2);
}
