.avatar {
    width: 60px;
    height: 80px;
    border: 1px dashed gray;
    color: gray;
    text-align: center;
    font-size: 12px;
}

.name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes animation-challenged {
    50% {
        background-color: orange;
    }
}

@keyframes animation-challenging {
    50% {
        background-color: #cccccc;
    }
}

.message {
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    &--challenged {
        @extend .message;
        animation-name: animation-challenged;
    }

    &--challenging {
        @extend .message;
        background-color: #eeeeee;
        animation-name: animation-challenging;
    }
}