.avatar {
    width: 64px;
    height: 64px;
    border: 1px dashed gray;
    color: gray;
    text-align: center;
    font-size: 12px;
}

.name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes orangeBlink {
    0% {
        background-color: white;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: white;
    }
}

.challenging {
    animation-name: orangeBlink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
