<mat-card class="item mat-typography">
    <div class="avatar">Avatar</div>
    <div class="name">{{item.opponentName}}</div>
    <mat-checkbox [ngModel]="item.isOpponentChallenged" (ngModelChange)="onChallengeChange($event)"
        class="opponent-is-challenged">
        <span *ngIf="item.isOpponentChallenging" class="challenging">{{'match.item.accept' | translate}}</span>
        <span *ngIf="!item.isOpponentChallenging">{{'match.item.challenged' | translate}}</span>
    </mat-checkbox>
</mat-card>
