<div class="page mat-typography">
    <div class="inset-1">
        <h2 translate>hall.title</h2>

        <p *ngIf="(loading$ | async)">
            <mat-spinner diameter="22" style="display: inline-block"></mat-spinner>
        </p>

        <div *ngIf="!(loading$ | async)" fxLayout="column" fxLayoutGap="8px">

            <ng-container *ngIf="(admirals | async).length > 0">
                <h3 class="label" translate>hall.admirals</h3>
                <app-hall-entries class="admirals" [entries]="(admirals | async)"></app-hall-entries>
            </ng-container>

            <ng-container *ngIf="(captains | async).length > 0">
                <h3 class="label" translate>hall.captains</h3>
                <app-hall-entries class="captains" [entries]="(captains | async)"></app-hall-entries>
            </ng-container>

            <ng-container *ngIf="(seamen | async).length > 0">
                <h3 class="label" translate>hall.seamen</h3>
                <app-hall-entries class="seamen" [entries]="(seamen | async)"></app-hall-entries>
            </ng-container>

            <ng-container *ngIf="(shipboys | async).length > 0">
                <h3 class="label" translate>hall.shipboys</h3>
                <app-hall-entries class="shipboys" [entries]="(shipboys | async)"></app-hall-entries>
            </ng-container>

        </div>
    </div>
</div>