@import './preparation-common.scss';

.yard {
    position: relative;
    width: calc(11.1vmin * 5);
    min-width: 187px;
    max-width: 262px;
    height: calc(11.1vmin * 5);
    min-height: 187px;
    max-height: 262px;
}

@media screen and (min-width: 600px) {
    .yard {
        border: 2px green solid;
    }
}

@media screen and (min-width: 758px) {
    .yard {
        border: 2px blue solid;
    }
}
