<div class="board">
    <div class="row" *ngFor="let yIndex of yIndexes">
        <div *ngFor="let xIndex of xIndexes" [appDroptarget]="{x: xIndex, y: yIndex}"
            class="{{fieldClass(xIndex, yIndex)}} drop-target {{possibleTarget(xIndex, yIndex)}}">
            <app-preparation-ship *ngFor="let fieldKey of fieldKeys(xIndex, yIndex)"
                [appDraggable]="{key: fieldKey}" [key]="fieldKey" [place]="'board'"
                class="fieldShip rot{{rotation(xIndex, yIndex)}}" (click)="onClick(xIndex, yIndex)">
            </app-preparation-ship>
        </div>
    </div>
</div>
