<div class="board">
    <div *ngFor="let row of rows" class="row">
        <div *ngFor="let field of row.fields"
            class="field"
            [attr.data-fieldposx]="field.pos.x"
            [attr.data-fieldposy]="field.pos.y"
        >
        </div>
    </div>
    <div *ngFor="let ship of ships"
        class="ship key-{{ship.key}}"
        [class.is-not-ok]="!ship.isOk"
        [attr.data-key]="ship.key"
        [style.top]="((ship.pos.y + 0.1) * 100 / 8) + '%'"
        [style.left]="((ship.pos.x + 0.1) * 100/ 8) + '%'"
        [style.width]="((ship.isVertical ? 0.8 : (0.8 + ship.length - 1)) * 100 / 8) + '%'"
        [style.height]="((ship.isVertical ? (0.8 + ship.length - 1) : 0.8) * 100/ 8) + '%'"
    >
        <div class="center"
            [style.top]="centerTop(ship)"
            [style.left]="centerLeft(ship)"
            [style.width]="centerWidth(ship)"
            [style.height]="centerHeight(ship)"
        ></div>
    </div>
</div>
