@import '../../shared/colors.scss';

.row {
    display: flex;
    height: calc(12.5% - 1px);
    margin-bottom: 1px;
}

.row:last-child {
    margin-bottom: none;
}

.field {
    flex: 1 0 0;
    margin-left: 1px;
    background-color: white;
}

.field:last-child {
    margin-left: none;
}

.ship {
    position: absolute;
    opacity: 0.5;
    cursor: move;
}

.ship:hover {
    opacity: 0.75;
}

.key-20 {
    background-color: $color-ship-20;
}

.key-30 {
    background-color: $color-ship-30;
}

.key-31 {
    background-color: $color-ship-31;
}

.key-40 {
    background-color: $color-ship-40;
}

.key-41 {
    background-color: $color-ship-41;
}

$opacityLow: 0.25;
$opacityHigh: 0.5;

@keyframes opatcity {
    0% {
        opacity: $opacityHigh;
    }

    50% {
        opacity: $opacityLow;
    }

    100% {
        opacity: $opacityHigh;
    }
}

.is-not-ok {
    animation-name: opatcity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Zentrum eines Schiffs (Zentrum, Drehpunkt) */
.center {
    position: absolute;
    background-color: black;
    pointer-events: none; /* (Events an Schiff durchreichen) */
}