<div class="board">
    <div *ngFor="let row of rows" class="row">
        <div *ngFor="let field of row.fields"
            class="field"
            [attr.data-fieldposx]="field.pos.x"
            [attr.data-fieldposy]="field.pos.y"
        >
        </div>
    </div>
    <div *ngFor="let ship of ships"
        class="ship"
        [class.is-not-ok]="!ship.isOk"
        [attr.data-key]="ship.key"
        [style.top]="(ship.pos.y * 100 / 8 + 2) + '%'"
        [style.left]="(ship.pos.x * 100/ 8 + 2) + '%'"
        [style.width]="((ship.isVertical ? 1 : ship.length) * 100 / 8 - 4) + '%'"
        [style.height]="((ship.isVertical ? ship.length : 1) * 100/ 8 - 4) + '%'"
    >
        <div class="center"
            [style.top]="centerTop(ship)"
            [style.left]="centerLeft(ship)"
            [style.width]="centerWidth(ship)"
            [style.height]="centerHeight(ship)"
        ></div>
    </div>
</div>
