<div class="page-inset mat-typography">
    <h2 translate>preparation.title</h2>
    <div translate>preparation.body</div>

    <div fxLayout="column" fxLayoutGap="1.5rem grid">
        <div fxLayout="row wrap" fxLayoutGap="0.5rem grid" fxLayoutAlign="start center"
            (touchstart)="onStart($event)" 
            (touchend)="onStop($event)" 
            (touchmove)="onContinue($event)"
            (mousedown)="onStart($event)" 
            (mouseup)="onStop($event)" 
            (mousemove)="onContinue($event)"
            >
            <div class="board-container" fxFlex="0 0 auto">
                <app-preparation-board [rows]="rows" [ships]="preparation"></app-preparation-board>
            </div>
            <div class="yard-container" fxFlex="0 0 auto">
                <app-preparation-yard [ships]="yard"></app-preparation-yard>
            </div>
        </div>

        <div class="buttons" fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" (click)="onContinueClicked()" class="standard-button-width"
                [disabled]="isContinueDisabled">{{'button.continue' | translate}}</button>
            <div>
                <mat-spinner *ngIf="isWaiting" diameter="22"></mat-spinner>
            </div>
        </div>
    </div>
</div>