@import './preparation-shared.component.scss';

.yardShip {
    margin: 5px 20px 5px 20px;
}

$yardWidth: 10;
$yardHeight: 5;

.yard {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: center;

    min-width: $yardWidth * $fieldMin + ($yardWidth - 1) * $fieldMargin;
    width: calc(#{$yardWidth * $fieldFactor}vmin + #{($yardWidth - 1) * $fieldMargin});
    max-width: $yardWidth * $fieldMax + ($yardWidth - 1) * $fieldMargin;
    min-height: $yardHeight * $fieldMin + ($yardHeight - 1) * $fieldMargin;
    height: calc(#{$yardHeight * $fieldFactor}vmin + #{($yardHeight - 1) * $fieldMargin});
    max-height: $yardHeight * $fieldMax + ($yardHeight - 1) * $fieldMargin;

    border: 2px red solid;
}

@media screen and (min-width: 600px) {
    .yard {
        border: 2px green solid;
    }
}

@media screen and (min-width: 758px) {
    .yard {
        border: 2px blue solid;
    }
}
