<div class="page">
    <h3 translate>preparation.title</h3>
    <p translate>preparation.body</p>
    <div class="container" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start">
        <div class="yard" fxFlex="0 0 auto">
            yard
        </div>
        <div class="board" fxFlex="0 0 auto">
            board
            <button mat-raised-button (click)="onChangedClicked()">Changed</button>
            <button mat-raised-button (click)="onValidatedClicked()">Validated</button>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start">
        <button mat-raised-button color="primary" (click)="onContinueClicked()"
            [disabled]="isContinueDisabled">{{'button.continue' | translate}}</button>
    </div>
</div>
