@import './preparation-shared.component.scss';

$widthFactor: 4;

.yardShip2, .boardShip2, .yardShip3, .boardShip3, .yardShip4, .boardShip4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-width: ($fieldMin + 2 * $fieldMargin) / $widthFactor;
    width: calc((#{$fieldFactor}vmin + #{2 * $fieldMargin}) / $widthFactor);
    max-width: ($fieldMax + 2 * $fieldMargin) / $widthFactor;

    cursor: move;
}

.yardShip2, .boardShip2 {
    min-height: 2 * $fieldMin + 3 * $fieldMargin;
    height: calc(#{2 * $fieldFactor}vmin + #{3 * $fieldMargin});
    max-height: 2 * $fieldMax + 3 * $fieldMargin;
}

.boardShip2 {
    position: relative;
    transform: translate(0, calc(-25%));
}

.yardShip3, .boardShip3 {
    min-height: 3 * $fieldMin + 4 * $fieldMargin;
    height: calc(#{3 * $fieldFactor}vmin + #{4 * $fieldMargin});
    max-height: 3 * $fieldMax + 4 * $fieldMargin;
}

.yardShip4, .boardShip4 {
    min-height: 4 * $fieldMin + 5 * $fieldMargin;
    height: calc(#{4 * $fieldFactor}vmin + #{5 * $fieldMargin});
    max-height: 4 * $fieldMax + 5 * $fieldMargin;
}

.boardShip4 {
    position: relative;
    transform: translate(0, calc(12.5%));
}

.towerField, .hullField {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

    min-height: $fieldMin;
    height: #{$fieldFactor}vmin;
    max-height: $fieldMax;

    margin-top: $fieldMargin;
}

.towerField {
    min-width: $fieldMin;
    width: #{$fieldFactor}vmin;
    max-width: $fieldMax;
}

.hullField {
    min-width: $fieldMin / $widthFactor;
    width: #{$fieldFactor / $widthFactor}vmin;
    max-width: $fieldMax / $widthFactor;
}

$backgroundOpacity: 0.2;

.red {
    background-color: rgb(255, 0, 0, $backgroundOpacity);
}

.green {
    background-color: rgb(0, 255, 0, $backgroundOpacity);
}

.blue {
    background-color: rgb(0, 0, 255, $backgroundOpacity);
}

.turquoise {
    background-color: rgb(0, 255, 255, $backgroundOpacity);
}

.purple {
    background-color: rgb(255, 0, 255, $backgroundOpacity);
}
