/* unit 24...35px */

.yard {
    display: block;
    min-width: 240px;
    width: calc(7.7vmin * 10);
    max-width: 350px;
    min-height: 115px;
    height: calc(7.7vmin * 5);
    max-height: 175px;
    background-color: greenyellow;
}

.board {
    display: block;
    min-width: 288px;
    width: calc(7.7vmin * 12);
    max-width: 420px;
    min-height: 288px;
    height: calc(7.7vmin * 12);
    max-height: 420px;
    background-color: aqua;
}

@media screen and (min-width: 600px) {
    .board {
        background-color: lightblue;
    }
}

@media screen and (min-width: 758px) {
    .board {
        background-color: cornflowerblue;
    }
}
