<div class="page">
    <h1 translate>preparation.title</h1>
    <p translate>preparation.body</p>
    <div class="all">
        <div class="yard">
            <div *ngFor="let yardKey of yardKeys" [appDraggable]="{key: yardKey}" class="yardDraggable {{yardKey}}">
            </div>
        </div>
        <div class="board">
            <div class="row" *ngFor="let yIndex of yIndexes">
                <div *ngFor="let xIndex of xIndexes" [appDroptarget]="{x: xIndex, y: yIndex}"
                    class="field drop-target {{possibleTarget(xIndex, yIndex)}}">

                    <div *ngFor="let fieldKey of fieldKeys(xIndex, yIndex)" [appDraggable]="{key: fieldKey}"
                        class="fieldDraggable {{fieldKey}} rot{{rotation(xIndex, yIndex)}}"
                        (click)="onClick(xIndex, yIndex)">
                        {{yIndex}}{{xIndex}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" (click)="onContinueClicked()" class="standard-button-width"
            [disabled]="isContinueDisabled">{{'button.continue' | translate}}</button>
        <button mat-raised-button (click)="onChangedClicked()" class="standard-button-width">Changed</button>
        <button mat-raised-button (click)="onValidatedClicked()" class="standard-button-width">Validated</button>
    </div>
</div>
