<div *ngIf="player && player.battle">
    <div>
        <h1 *ngIf="isVictory" style="background-color: pink;">Victory!!!!</h1>
        <h1 *ngIf="isWaterloo" style="background-color: black; color: white;">Waterloo :(</h1>
        <div>
            <span style="font-size: 20px;">Your secret: {{player.miniGameSecret}}</span>
            <div>
                {{ player.battle.opponentInfo.displayName || 'Opponent' }}'s last guess: {{ player.miniGameLastOpponentGuess }}
            </div>
        </div>
        <div style="margin-top: 10px;">
            <div *ngIf="player.canShootNext" style="font-weight: bold; color: orange;">
                Your turn, enter your guess:
                <input [(ngModel)]="currentGuess" name="currentGuess"
                    style="width: 50px; font-size: 20px; border: 2px solid orange;" />
                <button mat-raised-button (click)="submit()">Submit Guess</button>
            </div>
            <div>Your last guess was: {{ lastGuessInfo }}</div>
            <div>Your guesses so far:</div>
            <ul>
                <li *ngFor="let guess of player.battle.miniGameGuesses">
                    <b>{{guess}}</b>
                </li>
            </ul>
        </div>
    </div>
</div>

<p>
    <a routerLink="../">Go to mini game home</a>
</p>

<div style="color: green; font-size: 10px; margin-bottom: 10px;">
    Player raw data: {{player | json}}
</div>