<mat-card>
    <mat-card-title>
        {{title}}
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="player">
            <div style="color: green; font-size: 10px; margin-bottom: 10px;">
                {{player | json}}
            </div>
            <div>
                <span style="font-size: 20px;">Your number: {{player.miniGameNumber}}</span>
            </div>
            <div style="margin-top: 10px;">
                <div>Your guesses so far:</div>
                <ul>
                    <li *ngFor="let guess of player.guesses">
                        <b>{{guess.currentGuess}}</b>: {{guess.guessInfo}}
                    </li>
                </ul>
            </div>
            <div>{{player.currentStateInfo}}</div>
            <div *ngIf="player.canShootNext" style="font-weight: bold; color: orange;">Your turn!</div>
        </div>
        <p>
            <input matInput [(ngModel)]="currentGuess" name="currentGuess" style="width: 200px;" />
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="submit()">Submit Guess</button>
        <p>
            <a routerLink="../">Go to mini game home</a>
        </p>
    </mat-card-actions>
</mat-card>