<div class="mini-game-content mat-typography">
    <mat-card class="small-form">
        <h2>Mini game</h2>

        <mat-card-content>
            <div class="button-row">
                <div>
                    <a mat-button mat-raised-button color="accent" routerLink="prep">
                        Start
                    </a>
                </div>
                <div *ngIf="hasPlayerData">
                    <button mat-button (click)="purge()">
                        Purge my data
                    </button>
                </div>
                <div class="spinner-cell">
                        <mat-spinner *ngIf="waiting" diameter="22" style="display: inline-block"></mat-spinner>
                    </div>
                </div>
        </mat-card-content>
    </mat-card>
    <div class="inset-1">
        DEBUG - hasPlayerData = {{ hasPlayerData }}
    </div>
</div>
