<p>
    (not properly implemented here and further)
</p>
<mat-card>
    <mat-card-title>
        {{title}}
    </mat-card-title>
    <mat-card-content>
        <h2>Waiting Players:</h2>
        <ul class="waiting-players">
            <li *ngFor="let waitingPlayer of waitingPlayers$ | async">
                <div *ngIf="waitingPlayer.canChallenge" style="float:right;">
                    <button mat-raised-button color="primary" (click)="challenge(waitingPlayer.id)">Challenge</button>
                </div>
                <div>
                    <b>{{waitingPlayer.name}}</b>
                    <span *ngIf="waitingPlayer.id === uid"> (me)</span>
                </div>
                <br>
                <div *ngIf="waitingPlayer.challenges">
                    challenged by:
                    <span *ngFor="let challenge of waitingPlayer.challenges"
                        style="border: 1px solid black; display:inline-block; margin-right: 10px;">
                        {{challenge.name || '?'}}
                        <span *ngIf=" challenge.uid === uid"> (me)</span>
                    </span>
                </div>
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="player">
            <a routerLink="../battle">Go to battle</a>
        </div>
    </mat-card-actions>
</mat-card>
