<div class="mini-game-content mat-typography">
    <mat-card class="small-form">
        <h2>Debugging</h2>
        <p>
            Former "Mini Game", for debugging only.<br>
            The button removes the current preparation, matching and battle data
            (which is not implemented by the battle)
        </p>
        <mat-card-content>
            <div class="button-row">
                <div *ngIf="hasPlayerData">
                    <button mat-raised-button (click)="purge()" color="primary">
                        Purge my data
                    </button>
                </div>
                <div class="spinner-cell">
                        <mat-spinner *ngIf="waiting" diameter="22" style="display: inline-block"></mat-spinner>
                    </div>
                </div>
        </mat-card-content>
    </mat-card>
    <div class="inset-1">
        DEBUG - hasPlayerData = {{ hasPlayerData }}
    </div>
</div>
