.opponent-container {
    border: 1px solid blue;
    padding: 0.5rem;
}

.own-board-container {
    border: 1px solid green;
    padding: 0.5rem;
}

@media screen and (min-width: 600px) {

    
}

@media screen and (min-width: 758px) {

    
}
