<div class="page-inset mat-typography">
    <h2 translate>battle.title</h2>

    <div fxLayout="column" fxLayoutGap="1.5rem grid">

        <div fxLayout="row wrap" fxLayoutGap="8px grid" fxLayoutAlign="start center">
            <div class="opponent-container" fxFlex="0 0 auto">
                <div *ngIf="opponentInfo" [class.turn]="shootNow">
                    {{ opponentInfo.displayName }}<span translate>battle.sBoard</span>
                </div>
                <div *ngIf="targetBoard">
                    <app-target-board [targetBoard]="targetBoard" (shoot)="onShoot($event)"
                        (uncovered)="onUncovered($event)"></app-target-board>
                </div>
            </div>
            <div class="own-board-container" fxFlex="0 0 auto">
                <div translate [class.turn]="waitingForOpponentShoot">battle.yourBoard</div>
                <div *ngIf="ownBoard">
                    <app-own-board [ownBoard]="ownBoard"></app-own-board>
                </div>
            </div>
        </div>

        <div class="buttons" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
            <button mat-raised-button color="basic" [disabled]="isCapitulating"
                (click)="onCapitulationClicked()" matTooltip="Wenn du kapitulierst, wird das Spiel beendet und dein Gegner ist der Sieger">Kapitulieren</button>
            <div class="spinner-cell">
                <mat-spinner *ngIf="isCapitulating" diameter="22" style="display: inline-block"></mat-spinner>
            </div>
        </div>

    </div>

</div>