@import '../../shared/colors.scss';

.row {
    display: flex;
    height: calc(12.5% - 1px);
    margin-bottom: 1px;
}

.row:last-child {
    margin-bottom: none;
}

.field {
    flex: 1 0 0;
    margin-left: 1px;
}

.field:last-child {
    margin-left: none;
}

.field-status-0 {
    // unknown
    background-color: $color-field-unknown;
}

.field-status-1 {
    // miss
    background-color: $color-field-miss;
}

.field-status-2 {
    // hit
    background-color: $color-field-hit;
}

.ship {
    position: absolute;
}

.ship-20 {
    background-color: $color-ship-20;
}

.ship-30 {
    background-color: $color-ship-30;
}

.ship-31 {
    background-color: $color-ship-31;
}

.ship-40 {
    background-color: $color-ship-40;
}

.ship-41 {
    background-color: $color-ship-41;
}

.sunk-ship {
    opacity: 0.7;
}

.not-sunk-ship {
    opacity: 0.4;
}
