.opponent-board, .own-board {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.active-board {
    opacity: 1;
    transition: opacity 0.5s;
}

.opponent-board-label, .own-board-label {
    padding: 0.1em;
    min-height: 2em;
}
