<div class="page mat-typography">
    <div class="inset-1">
        <h2 translate>battle.title</h2>
        <p *ngIf="shootNow" style="font-weight: bold; color: orange;">
            <span translate>battle.pleaseShoot</span>
        </p>
        <p *ngIf="pending" style="font-weight: bold; color: blue;">
            <span>...</span>
        </p>
        <p *ngIf="waitingForOpponentShoot" style="font-weight: bold; color: blue;">
            <span translate>battle.waitingForOpponent</span>
        </p>
    </div>
    <h1 *ngIf="isVictory" style="background-color: pink;">Victory!!!!</h1>

    <h1 *ngIf="isWaterloo" style="background-color: black; color: white;">Waterloo :(</h1>

    <div class="" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="start center">
        <div class="opponent-container" fxFlex="0 0 auto">
            <h3 *ngIf="opponentInfo">
                {{ opponentInfo.displayName }}<span translate>battle.sBoard</span>
            </h3>
            <div *ngIf="targetBoard">
                <app-target-board [targetBoard]="targetBoard" (shoot)="onShoot($event)"
                    (uncovered)="onUncovered($event)"></app-target-board>
            </div>
        </div>
        <div class="own-board-container" fxFlex="0 0 auto">
            <h3 translate>battle.yourBoard</h3>
            <div *ngIf="ownBoard">
                <app-own-board [ownBoard]="ownBoard"></app-own-board>
            </div>
        </div>
    </div>
    <div class="buttons" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" class="standard-button-width"
            (click)="onCapitulationClicked()">{{'button.capitulation' | translate}}</button>
    </div>

</div>

<p>
    TEMP 27.11. uvb
</p>
<ul>
    <li>
        <a routerLink="/preparation">go to prep</a>
    </li>
    <li>
        <a routerLink="/match">go to matchmaking</a>
    </li>
</ul>