@import '../battle-common.scss';

.own-board {
    position: relative;
    width: calc(7.4vmin * 8);
    min-width: 200px;
    max-width: 280px;
    height: calc(7.4vmin * 8);
    min-height: 200px;
    max-height: 280px;
}
