@import '../battle-common.scss';

.target-board {
    position: relative;
    max-width: 540px;
    max-height: 540px;
    width: 96vmin;
    height: 96vmin;
}

.field-status-0 {
    // unknown
    background-color: $color-background;
}
