.admirals {
    width: 90%;
    height: 5em;
    background-color: coral;
}

.captains {
    width: 90%;
    height: 5em;
    background-color: coral;
}

.seamen {
    width: 90%;
    height: 5em;
    background-color: coral;
}

.shipboys {
    width: 90%;
    height: 5em;
    background-color: coral;
}
